/* 改变主题色变量 */
$--color-primary: #2E5BFF;

$--color-warning: #F7B26B;

$--color-danger: #EF3434;

$--color-success: #0ABD9E;
//-------深色字默认颜色-------
$--color-font-primary: #2E384D;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

